
<ul>
      <li routerLinkActive="active"><a [routerLink]="['/about']"><h4 style="color: white">About</h4></a></li>
      <li routerLinkActive="active"><a [routerLink]="['/governance']"><h4 style="color: white">Governance</h4></a></li>
      <li routerLinkActive="active"><h4>Community</h4></li>
      <li routerLinkActive="active"><h4>WorkingGroups</h4></li>
      <li routerLinkActive="active"><h4>Releases</h4></li>
      <li routerLinkActive="active"><h4>Resources</h4></li>
      <li routerLinkActive="active"><h4>Trademark</h4></li>
</ul>

