:host {
  background: #049fd9;
  color: #fff;
  position: fixed;
  left: auto;
  top: auto;
  left: 0;
  bottom: 0;
  width: 10%;
  min-width: 205px;
  /*z-index: 9999;*/
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  margin-bottom: 450px;
  list-style: none;
}


