<div class="container">
  <div class="panel with-nav-tabs panel-primary">
    <div class="panel-body">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <app-total-sow></app-total-sow>
    </div>
    <div class="col-lg-4">
      <app-total-vendor-by-sow></app-total-vendor-by-sow>
    </div>
    <div class="col-lg-4">
      <app-total-location-by-sow></app-total-location-by-sow>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <app-concurrent-jobs></app-concurrent-jobs>
    </div>
    <div class="col-lg-4">
      <app-appd-jobs></app-appd-jobs>
    </div>
    <div class="col-lg-4">
      <app-tidal-jobs></app-tidal-jobs>
    </div>
  </div>
</div>
</div>
  </div>
</div>
